@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.css';
@import 'swiper/css';
code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.action_btn button {
   width: 100%;
}
.card_wrapper img{
   object-fit: cover;
}
.menu_icon{
   font-size: 50px!important;
}
.logo{
   font-family: 'Architects Daughter' !important;
   cursor: pointer;
}
.app_toolbar a{
   padding: 5px 15px;
   color: #939393;
}
.app_toolbar a:hover{
   color: black;
}
.app_toolbar a:active{
   color: blue;
}
.modal{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;
   boxShadow: 24px;
   width: 1200px;
   height: 85vh;
   border-radius: 5px;
   padding: 15px 25px;
}
img{
   object-fit: cover;
}
.modal img{
   object-fit: cover;
}
.modal span{
   color: #5a5a5a;
}
.modal svg{
   color: #7373ff;
}
.ymaps-2-1-79-map{
   height: 390px !important;
}
hr{
   height: 5px;
   background: #000;
}
.contact .ymaps-2-1-79-map{
   height: 650px!important;
}
.ant-modal-footer{
   display: none;
}
.iconsACC svg{
   font-size: 60px !important;
   margin-left: 20px;
}
.wrap-box{
   position: relative;
}
.wrap-box svg{
   color: grey;
   position: absolute;
   bottom: 15px;
   right: 15px;
}
.clickedicon svg{
   color: red;
}
.ant-notification-notice{
   top: 80px !important;
}
.selectFilter{
   padding: 7px 0;
   margin-right: 50px;
}